git+https://github.com/potatolondon/djangae.git#egg=djangae
django>=1.6.7,<1.7
django-secure
django-csp
django-cors-headers
django-session-csrf
django-ckeditor
django-url-tools
cssmin
jsmin
django_compressor
coverage
nose
whoosh
