{% extends 'base.html' %}

{% load addclasstofield %}

{% block pagetitle %}Contact us{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li class="active">Contact us</li>
</ol>
{% endblock breadcrumbs %}

{% block header %}
  <header class="intro-header contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Want to drop us a line?</h1>
            <hr class="small">
            <span class="subheading">Fill the form and click the button</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <form action="." method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_sender">Your email address</label>
        {% for error in form.sender.errors %}
          {% include 'includes/form_error.html' %}
        {% endfor %}
        {{ form.sender|addclasstofield:"form-control" }}
      </div>
      <div class="form-group">
        <label for="id_message">Message:</label>
        {% for error in form.message.errors %}
          {% include 'includes/form_error.html' %}
        {% endfor %}
        {{ form.message|addclasstofield:"form-control" }}
     </div>
      <button class="btn btn-primary" type="submit" >Send Your Message</button>
    </form>
  </div>
</div>
{% endblock content %}
