{% extends "base.html" %}
{% load addclasstofield %}

{%block pagetitle %}Add new post - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'posts' %}">Posts</a></li>
  <li class="active">Add new post </li>
</ol>
{% endblock breadcrumbs %}

{% block header %}
  <header class="intro-header add-post">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Unleash Your Creativity</h1>
            <hr class="small">
            <span class="subheading">Remember to: be creative; be smart; be concise.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
      {% include 'blog/include/post_form_fields.html' %}
      <button class="btn btn-primary" type="submit">Add</button>
      <a href={% url 'posts' %} class="btn btn-default">Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}