{% extends "base.html" %}

{%block pagetitle %}{{ block.super }} Search {{ q }}{% endblock %}

 {% load urls %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li class="active">Posts</li>
</ol>
{% endblock breadcrumbs %}


{% block header %}
  <header class="intro-header posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>My posts</h1>
            <hr class="small">
            <span class="subheading">Hope you find them useful</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
	<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form method="get" id="search-form" role="search" action="{% del_params request.get_full_path 'q' %}">
          <div class="form-group">
          	<label for="search-input">Search</label>
            <input name="q" type="text" class="form-control" id="search-input" placeholder="Search" value="{{ q }}"/>
          </div>
        </form>
      </div>
    </div>
    <div id="results-container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		      {% for facet in active_facets %}
		        {% if forloop.first%}
		        	<h4>Active Filters</h4>
		        	<div id="active-facets" class="btn-group">
		        {% endif %}
		        <a href="{% del_params request.get_full_path f=facet.slug %}" class="btn btn-default facet">
		          <span class="glyphicon glyphicon-check">
		            {{ facet.title }}&nbsp;
		          </span>
		          <span class="badge">{{ facet.count }}</span>
		        </a>
		        {% if forloop.last %}
		        	</div>
		        {% endif %}
		      {% endfor %}
		    </div>
		  </div>
		  <div class="row">
		  	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		      {% for facet in facets %}
		        {% if forloop.first%}
		        	<h4>Available Filters</h4>
		        	<div id="available-facets" class="btn-group">
		        {% endif %}
		        <a href="{% overload_params request.get_full_path f=facet.slug %}" class="btn btn-default facet">
		          <span class="glyphicon glyphicon-unchecked">
		            {{ facet.title }}&nbsp;
		          </span>
		          <span class="badge">{{ facet.count }}</span>
		        </a>
		        {% if forloop.last %}
		        	</div>
		        {% endif %}
		      {% endfor %}
		    </div>
		  </div>
		  <hr />
		  {% for post in posts %}
		    <div class="row">
		    	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						{% include 'blog/include/post_actions.html' %}
		  		</div>
				</div>
		    <div class="row">
		    	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			      {% include 'blog/include/post_in_listing.html' %}
			    </div>
			  </div>
	  	    {% empty %}
  		    <div class="row">
		    		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			  	    {% if q or f %}
			    	    <p>Sorry, no posts matching your query were found.</p>
			      	{% else %}
			        	<p>Sorry, no post in this blog.</p>
			      	{% endif %}
			       </div>
			     </div>
		  {% endfor %}
		  <div class="row">
		  	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		      {% include 'blog/include/pagination.html' %}
		    </div>
		  </div>
		</div>
	</div>
{% endblock content %}