{% extends "base.html" %}

{%block pagetitle %}{{ tag.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'tags' %}">Tags</a></li>
  <li class="active">{{ tag.title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block header %}
  <header class="intro-header tag">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>Posts about {{ tag.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


{% block content %}
  <article>
    <div class="container">
      {% for post in tag.posts.all %}
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include 'blog/include/post_actions.html' %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include 'blog/include/post_in_listing.html' %}
            {% empty %}
              <p>Sorry, no post for tag {{ tag.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
{% endblock content %}