{% extends "base.html" %}

{%block pagetitle %}{{ block.super }} tags{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li class="active">Tags</li>
</ol>
{% endblock breadcrumbs %}

{% block header %}
  <header class="intro-header tags">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>All the tags</h1>
            <hr class="small">
            <span class="subheading">All the tags you could be interested in</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <div class="container">
    {% for tag in tags %}
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h1>Posted under
            <a href="{{ tag.get_absolute_url }}">
              <span class="tag label label-primary">#{{ tag.title }}</span>
            </a>
          </h1>
        </div>
      </div>
      {% for post in tag.posts.all %}
        <!--div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include 'blog/include/post_actions.html' %}
          </div>
        </div-->
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include 'blog/include/post_in_listing.html' %}
          </div>
        </div>
      {% empty %}
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>No posts under this tag</p>
          </div>
        </div>
      {% endfor %}
    {% empty %}
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>Sorry, no tags in this blog.</p>
        </div>
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% include 'blog/include/pagination.html' %}
      </div>
    </div>
  </div>
{% endblock content %}