<div class="actions btn-group">
  {% if perms.blog.can_delete_post %}
    <a class="pull-right btn btn-danger delete-link" href="{{ post.get_delete_url }}"
    	 data-toggle="modal" data-target="#modal-{{ post.slug }}">
    	 <span class="glyphicon glyphicon-remove">Delete post</span>
    </a>
    <div class="modal fade" id="modal-{{ post.slug }}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal" aria-hidden="true">
    	<div class="modal-dialog">
				<div class="modal-content">
				</div>
			</div>
		</div>
	{% endif %}
  {% if perms.blog.can_edit_post %}
    <a class="pull-right btn btn-info" href="{{ post.get_edit_url }}">
    	<span class="glyphicon glyphicon-pencil">Edit post</span>
    </a>
  {% endif %}
	{% if forloop.first %}
    {% if perms.blog.can_add_post %}
      <a class="pull-right btn btn-success" href="{% url 'add-post' %}">
      	<span class="glyphicon glyphicon-plus">New post</span>
      </a>
    {% endif %}
  {% endif %}
</div>
