    <div class="post-preview">
        <span class="pull-right actions">
          {% if forloop.first %}
            {% if perms.blog.can_add_post %}
              <a class="glyphicon glyphicon-plus" href="{% url 'add-post' %}"></a>
            {% endif %}
          {% endif %}
          {% if perms.blog.can_edit_post %}
            <a class="glyphicon glyphicon-pencil" href="{{ post.get_edit_url }}"></a>
          {% endif %}
          {% if perms.blog.can_delete_post %}
            <a class="delete-link glyphicon glyphicon-remove" href="{{ post.get_delete_url }}" data-toggle="modal" data-target="#modal-{{ post.slug }}"></a>
            <div class="modal fade" id="modal-{{ post.slug }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            	<div class="modal-dialog">
        				<div class="modal-content">
        				</div>
      				</div>
    				</div>
        	{% endif %}
        </span>
      <a href="{{ post.get_absolute_url }}">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
      </a>
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
      {% include 'blog/include/post_meta.html' %}
      {% if not forloop.last %}
        <hr>
      {% endif %}
    </div>